input[type=search],
input[type=text] {
  font-size: 1rem;
  font-weight: 300;
  background-clip: padding-box;
  transition: all .2s ease;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  padding: 1rem;
  border: 1px solid var(--gray);
}

input:hover, input:focus {
  transition: all .2s ease;
  cursor: auto;
}

.searchIcon {
  position: relative;
  width: 30px;
  height: 30px;
  top: 8px;
  margin: 0 10px;
  display: inline-block;
}